################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.tfrecords
*,jpg
*.png
checkpoint/
log/
rgb/
label/
img_for_tfrecords/
*.txt
*.pyc
